1. Create a list with integers from 1 to 10.

In [46]:
l=[x for x in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [47]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
c=0
for i in l:
    c=c+1
print("length is",c)

length is 10

3. Append an element to the end of a list.

In [49]:
l.append(50)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50]

4. Insert an element at a specific index in a list.

In [50]:
print(l)
l.insert(2,'a')
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50]

[1, 2, 'a', 3, 4, 5, 6, 7, 8, 9, 10, 50]

5. Remove an element from a list by its value.

In [51]:
l.remove('a')
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50]

6. Remove an element from a list by its index.

In [52]:
l.pop(2)
l

[1, 2, 4, 5, 6, 7, 8, 9, 10, 50]

7. Check if an element exists in a list.

In [31]:
l=[2]
if l!=[]:
    print("element exists")
else:
    print("element doesnt exists")

element exists

In [54]:
x=int(input("Enter the value to check"))
l=[True if x in l else False]
l

Enter the value to check3

[False]

8. Find the index of the first occurrence of an element in a list.

In [59]:
l=[1,2,3,4]
l=l.index(2)
l

1

9. Count the occurrences of an element in a list.

In [62]:
l1=[1,2,3,4,3,2,3,4,5,6]
l1.count(4)

2

10. Reverse the order of elements in a list

In [63]:
l1[::-1]

[6, 5, 4, 3, 2, 3, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [65]:
l1.sort()
l1

[1, 2, 2, 3, 3, 3, 4, 4, 5, 6]

12. Sort a list in descending order

In [71]:
l1.sort(reverse=True)
l1

[6, 5, 4, 4, 3, 3, 3, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [73]:
p=[x for x in range(1,21) if x%2==0]
p

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20

In [74]:
p=[x for x in range(1,21) if x%2!=0]
p

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [82]:
l2=[1,2,3,4,5]
s=0
for i in l2:
    s=s+i
print(s)

15

16. Find the maximum value in a list.

In [87]:
m=l2[0]
for i in l2:
    if i>m:
        m=i
print(m)

5

17. Find the minimum value in a list.

In [88]:
n=l2[0]
for i in l2:
    if i<n:
        n=i
print(n)

1

18. Create a list of squares of numbers from 1 to 10

In [90]:
z=[x*x for x in range(1,11)]
z

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers

In [94]:
import numpy as np
a=np.random.randint(10,20,10)
a

array([15, 18, 18, 10, 16, 13, 14, 17, 15, 10])

20. Remove duplicates from a list.

In [2]:
w=[1,2,3,4,5,6,7,8]
y=[2,5,3,8,12,11,13]
l=[]
for i in w:
    if i not in y:
        l.append(i)
l

[1, 4, 6, 7]

21. Find the common elements between two lists.

In [3]:
w

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
y

[2, 5, 3, 8, 12, 11, 13]

In [6]:
k=[]
for i in w:
    if i in y:
        k.append(i)
k

[2, 3, 5, 8]

22. Find the difference between two lists.

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]


difference_list1 = list(set(list1) - set(list2))
difference_list2 = list(set(list2) - set(list1))

print("Elements unique to list1:", difference_list1)
print("Elements unique to list2:", difference_list2)
common_elements = list(set(list1).intersection(list2))
print("Common elements:", common_elements)

Elements unique to list1: [1, 2]
Elements unique to list2: [6, 7]
Common elements: [3, 4, 5]

23. Merge two lists

In [20]:
l1=[1,2,3,4]
l2=[4,5,6,7]
l1.extend(l2)

In [21]:
l1

[1, 2, 3, 4, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [1]:
l2=[1,2,3,4] 
l2=[i*2 for i in l2]

In [2]:
l2

[2, 4, 6, 8]

25. Filter out all even numbers from a list

In [7]:
l3=[1,5,2,4,6,3]
z=list(filter(lambda x:x%2==0,l3))
z

[2, 4, 6]

26. Convert a list of strings to a list of integers.

In [10]:
str1=['1','2']
z=list(map(lambda x:int(x),str1))
z

[1, 2]

27. Convert a list of integers to a list of strings.

In [14]:
int1=[1,2]
z=list(map(lambda x:str(x),int1))
z

['1', '2']

28. Flatten a nested list.

In [20]:
def flatten_list(lst, result=None):
    if result is None:
        result = []

    for i in lst:
        if type(i) == list:
            flatten_list(i, result)
        else:
            result.append(i)

    return result
l1 = [1, 2, 3, [3, 4], [5, 6, 7], [[2, 5, 3]]]
flattened_list = flatten_list(l1)
print(flattened_list)

[1, 2, 3, 3, 4, 5, 6, 7, 2, 5, 3]

29. Create a list of the first 10 Fibonacci numbers.

In [21]:
fibonacci_numbers = [0, 1]

while len(fibonacci_numbers) < 10:
    next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers.append(next_fibonacci)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [24]:
def issorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

l1 = [2, 9, 6, 4, 5]

if issorted(l1):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is not sorted.

31. Rotate a list to the left by `n` positions.

In [26]:
l2=[1,6,2,3,5,4]
def rotate_left(lst, n):
    n = n % len(lst)  # Handle the case where n is larger than the length of the list
    rotated_list = lst[n:] + lst[:n]
    return rotated_list

# Example usage:
l2=[1,6,2,3,5,4]
n_positions = 2

rotated_list = rotate_left(l2, n_positions)
print(rotated_list)

[2, 3, 5, 4, 1, 6]

32. Rotate a list to the right by `n` positions

In [27]:
l2=[1,6,2,3,5,4]
def rotate_right(lst, n):
    n = n % len(lst)  # Handle the case where n is larger than the length of the list
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Example usage:
l2=[1,6,2,3,5,4]
n_positions = 2

rotated_list = rotate_right(l2, n_positions)
print(rotated_list)

[5, 4, 1, 6, 2, 3]

33. Create a list of prime numbers up to 50.

In [1]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def generate_primes(n):
    primes = []
    for i in range(2, n + 1):
        if is_prime(i):
            primes.append(i)
    return primes


result = generate_primes(50)
print(result)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
chunk_size = 3
for i in range(0,len(my_list)):
    print(my_list[i:i+chunk_size])

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[6, 7, 8]
[7, 8, 9]
[8, 9, 10]
[9, 10, 11]
[10, 11]
[11]

35. Find the second largest number in a list.

In [7]:
l1=[1,4,2,5,3,6,7]
l1.sort(reverse=True)
print(l1[2])

5

36. Replace every element in a list with its square.

In [11]:
l1=[1,4,2,5,3,6,7]
l2=list(map(lambda x:x**2,l1))
l2

[1, 16, 4, 25, 9, 36, 49]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [17]:
l1=[1,4,2,5,3,6,7]
d={}

for i in range(len(l1)):
    key=l1[i]
    value=i
    d[key]=value
print(d)

{1: 0, 4: 1, 2: 2, 5: 3, 3: 4, 6: 5, 7: 6}

38. Shuffle the elements of a list randomly.

In [20]:
import random

my_list = [1, 4, 2, 5, 3, 6, 7]
random.shuffle(my_list)
my_list

[7, 2, 4, 6, 5, 1, 3]

39. Create a list of the first 10 factorial numbers

In [23]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
z=[factorial(i) for i in range(10)]
z

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [28]:
l1=[1,4,3,2,5]
l2=[3,2,4,5,1]
for i in l1:
    if i in l2:
        print("there is atleast 1 element common to both l1 and l2")
    else:
        print("No element in common")

there is atleast 1 element common to both l1 and l2
there is atleast 1 element common to both l1 and l2
there is atleast 1 element common to both l1 and l2
there is atleast 1 element common to both l1 and l2
there is atleast 1 element common to both l1 and l2

41. Remove all elements from a list

In [31]:
l1=[1,4,3,2,5]
l1.clear()
l1

[]

42. Replace negative numbers in a list with 0.

In [34]:
l1=[-1,4,3,-2,9,-5,-3,6,-2]
for i in range(len(l1)):
    if l1[i]<0:
        l1[i]=0
print(l1)

[0, 4, 3, 0, 9, 0, 0, 6, 0]

43. Convert a string into a list of words.

In [3]:
str1="Rohit is not a good boy"
x=str1.split()
x

['Rohit', 'is', 'not', 'a', 'good', 'boy']

44.Convert a list of words into a string.

In [4]:
(" ").join(x)

'Rohit is not a good boy'

45. Create a list of the first `n` powers of 2.

In [30]:
n=int(input("enter the value of n"))
l=[2**i for i in range(n)]
print(l)

enter the value of n4
[1, 2, 4, 8]

46. Find the longest string in a list of strings.

In [11]:
l=['incarnation','expressive','datasciencepro']
l1=[]
for i in l:
    l1.append(len(i))
    a=max(l1)
print('length is',a,i)

length is 14 datasciencepro

47. Find the shortest string in a list of strings

In [15]:
l=['incarnation','expressive','datasciencepro']
shortest=l[0]
for i in l:
    if len(i)<len(shortest):
        shortest=i
print("shortest string is ",shortest)

shortest string is  expressive

48. Create a list of the first `n` triangular numbers.

In [29]:
triangular_numbers = []
n=int(input("enter the value of n"))
for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)
print(triangular_numbers)

enter the value of n3
[1, 3, 6]

49. Check if a list contains another list as a subsequence.

In [19]:
seq = [1, 2, 3, 4, 5, 6, 7]
subseq = [2, 4, 6]
i=0
j=0
while i<len(subseq) and j<len(seq):
    if subseq[i]==seq[j]:
        i+=1
    j+=1
print("length of common elements is",i)

length of common elements is 3

50. Swap two elements in a list by their indices.

In [23]:
l1=[1,2,3,4,5,6,7,8,9]
l1[2],l1[3]=l1[3],l1[2]
print(l1)

[1, 2, 4, 3, 5, 6, 7, 8, 9]