1. Create a set with integers from 1 to 5.

In [2]:
my_set={1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [5]:
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [11]:
my_set.discard(6)
my_set

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [13]:
set1={1,2,3}
if set1=={}:
    print("set is empty")
else:
    print("set is not empty")

set is not empty

5. Find the length of a set without using the `len()` function.

In [14]:
a=0
set1={1,2,3,4}
for i in set1:
    a=a+1
print("length is ",a)

length is  4

6. Clear all elements from a set.

In [16]:
set1={1,2,3,4}
set1.clear()
set1

set()

7.Create a set of even numbers from 1 to 10

In [19]:
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print(s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [20]:
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [22]:
s1={"Akola","Amravati","Nagpur"}
s2={"Maharashtra","Gujarat","Hyderabad"}
s1.union(s2)

{'Akola', 'Amravati', 'Gujarat', 'Hyderabad', 'Maharashtra', 'Nagpur'}

10. Find the intersection of two sets

In [24]:
s1={"Pune","Banglore","Hyderabad"}
s2={"Delhi","Pune","Banglore"}
s1.intersection(s2)

{'Banglore', 'Pune'}

11. Find the difference between two sets.

In [25]:
s1={"Pune","Banglore","Hyderabad"}
s2={"Delhi","Pune","Banglore"}
s1.difference(s2)

{'Hyderabad'}

12. Check if a set is a subset of another set.

In [31]:
s1={1,2,3}
s2={4,5,6}
if s2.issubset(s1):
    print("s2 is a subset of s1")
else:
    print("s2 is not a subset of s1")

s2 is not a subset of s1

13. Check if a set is a superset of another set.

In [32]:
s1={1,2,3}
s2={4,5,6,1,2,3}
if s2.issuperset(s1):
    print("s2 is superset of s1")
else:
    print("s2 is not a superset of s1")

s2 is superset of s1

14. Create a set from a list.

In [34]:
l1=[1,2,3,4]
s1=set(l1)
s1

{1, 2, 3, 4}

15. Convert a set to a list

In [36]:
s1={1,2,3,4}
l1=list(s1)
l1

[1, 2, 3, 4]

16. Remove a random element from a set.

In [43]:
s1={1,2,3,4}
s1.pop()

1

17. Pop an element from a set.

In [48]:
s1={1,2,3,4,5}
s1.discard(2)
s1

{1, 3, 4, 5}

18. Check if two sets have no elements in common.

In [49]:
s1={1,2,3,4}
s2={2,3,4,5}
s1.intersection(s2)

{2, 3, 4}

In [52]:
s1={1,2,3,4}  #3 elements in common and 1 element uncommon
s2={2,3,4,5}
for i in s1:
    if i in s2:
        print("Two sets have elements in common")
    else:
        print("Two elements have no common elements")

Two elements have no common elements
Two sets have elements in common
Two sets have elements in common
Two sets have elements in common

19. Find the symmetric difference between two sets.

In [55]:
s1={1,2,3,4}  
s2={2,3,4,5}
s1.symmetric_difference(s2)

{1, 5}

20. Update a set with elements from another set.

In [57]:
s1={1,2,3,4}  
s2={2,3,4,5}
s1.update(s2)
s1

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers

In [84]:
def prime(n):
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
s=set()
c=0
i=2
while c<5:
    if prime(i)==True:
        s.add(i)
        c=c+1
    i=i+1
print(s)

{2, 3, 5, 7, 11}

23. Create a frozen set.

In [85]:
my_frozen_set = frozenset([1, 2, 3, 4, 5])
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [86]:
s1={1,2,3,4}  
s2={2,3,4,5}
s1.isdisjoint(s2)

False

25. Create a set of squares of numbers from 1 to 5.

In [88]:
set([i**2 for i in range(1,6)])

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [9]:
s1={1,2,3,4,5}
s_even={i for i in s1 if i%2==0}
s_even

{2, 4}

27. Multiply all elements in a set by 2.

In [19]:
s1={1,2,3,4,5}
s=set()
for i in s1:
    s.add(i*2)
print(s)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [21]:
import random

# Define the size of the set and the range of random numbers
set_size = 5
min_number = 1
max_number = 10

# Generate a set of random numbers
random_set = {random.randint(min_number, max_number) for _ in range(set_size)}
print(random_set)

{1, 10, 3, 7}

29. Check if a set is empty.

In [22]:
s1={1,2,3,4,5}
if s1==set():
    print("set is empty")
else:
    print("set is not empty")

set is not empty

30. Create a nested set (hint: use frozenset).

In [23]:
nested_set = frozenset([
    frozenset({1, 2}),
    frozenset({3, 4}),
    frozenset({5, 6})
])

print(nested_set)

frozenset({frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})})

31. Remove an element from a set using the discard method.

In [25]:
s1={1,2,3,4,5}
s1.discard(4)
s1

{1, 2, 3, 5}

32. Compare two sets

In [26]:
s1={1,2,3,4}
s2={1,2,3,4,5}
if s1==s2:
    print("two sets are equal")
else:
    print("two sets are not equal")

two sets are not equal

33. Create a set from a string.

In [28]:
string="DataSciencePRo"
set(string)

{'D', 'P', 'R', 'S', 'a', 'c', 'e', 'i', 'n', 'o', 't'}

34. Convert a set of strings to a set of integers.

In [30]:
s={"10","23","12"}
s1=set()
for i in s:
    s1.add(int(i))
print(s1)

{10, 12, 23}

35. Convert a set of integers to a set of strings.

In [31]:
s={10,12,23}
s1=set()
for i in s:
    s1.add(str(i))
print(s1)

{'10', '23', '12'}

36. Create a set from a tuple

In [32]:
tup=(2,3,4,5)
set(tup)

{2, 3, 4, 5}

37. Convert a set to a tuple.

In [33]:
set1={1,2,3,4}
tuple(set1)

(1, 2, 3, 4)

38. Find the maximum value in a set.

In [41]:
s1={1,2,3,4}
max(s1)

4

39. Find the minimum value in a set.

In [42]:
min(s1)

1

40. Create a set from user input.

In [44]:
s1=set()
for i in range(6):
    s1.add(i)
print(s1)

{0, 1, 2, 3, 4, 5}

41. Check if the intersection of two sets is empty.

In [47]:
s1={1,2,3,4}
s2={2,3,4}
s=s1.intersection_update(s2)
if s==set():
    print("intersection of two sets is empty")
else:
    print("intersection of two sets is not empty")

intersection of two sets is not empty

42. Create a set of the first 5 Fibonacci numbers.

In [70]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

fibonacci_set = generate_fibonacci(5)
print(fibonacci_set)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [49]:
s1=[1,2,3,4,2,3,6,7]
set(s1)

{1, 2, 3, 4, 6, 7}

44. Check if two sets have the same elements, regardless of their count.

In [50]:
s1={1,2,3,4}
s2={1,2,3,4}
if s1==s2:
    print("two sets have same elements")
else:
    print("two sets dont have same elements")

two sets have same elements

45. Create a set of the first `n` powers of 2.

In [52]:
n=int(input("enter n "))
{2**i for i in range(n)}

enter n 7

{1, 2, 4, 8, 16, 32, 64}

46. Find the common elements between a set and a list.

In [53]:
s1={1,2,3,4}
l1=[2,3,4,5]
set(l1).intersection(s1)

{2, 3, 4}

47. Create a set of the first `n` triangular numbers.

In [69]:
def triangular_number(n):
    return n * (n + 1) // 2

def first_n_triangular_numbers(n):
    return {triangular_number(i) for i in range(1, n + 1)}

n = 5  # Change n to the desired number of triangular numbers
triangular_set = first_n_triangular_numbers(n)
print(triangular_set)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset

In [54]:
s1={1,2,3,4,5}
s2={2,3,4}
if s2.issubset(s1):
    print("s2 is subset of s1")
else:
    print("s2 is not a subset of s1")

s2 is subset of s1

49. Create a set of alternating 1s and 0s of length `n`.

In [68]:
p1=set([0 for i in range(5) if i%2==0])
p2=set([1 for i in range(5) if i%2!=0])
p1.update(p2)
print(p1)

{0, 1}

50. Merge multiple sets into one

In [64]:
s1={1,2,3,4}
s2={5,5,6,7}
s3={4,3,1}
s=set()
s.update(s1)
s.update(s2)
s.update(s3)
print(s)

{1, 2, 3, 4, 5, 6, 7}