Create a tuple with integers from 1 to 5.

In [4]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [12]:
t=(1,2,3,4,5)
print(t[3])

4

3. Find the length of a tuple without using the `len()` function.

In [13]:
t=(1,2,3,4,5)
c=0
for i in t:
    c=c+1
print("length of tuple is ",c)

length of tuple is  5

4. Count the occurrences of an element in a tuple.

In [19]:
t=(1,2,3,4,5,2,3,4,2,4)
print("Number of occurrence for 2 is",t.count(2))

Number of occurrence for 2 is 3

5.Find the index of the first occurrence of an element in a tuple.

In [29]:
t=(1,2,3,4,5,2,3,4,2,4)
n=int(input("enter the element whose occurrence is to be found out"))
if t.count(n) == 1:
    print("Index of", n, "is", t.index(n))
elif t.count(n) > 1:
    print("Element", n, "occurs multiple times in the tuple.")
else:
    print("Element", n, "does not exist in the tuple.")

enter the element whose occurrence is to be found out2
Element 2 occurs multiple times in the tuple.

6. Check if an element exists in a tuple.

In [31]:
t=(1,2,3,4)
a=int(input("enter the element to check"))
if a in t:
    print("element exists")
else:
    print("element does not exist")

enter the element to check2
element exists

7. Convert a tuple to a list.

In [33]:
t=(1,2,3,4)
print(list(t))

[1, 2, 3, 4]

8. Convert a list to a tuple.

In [34]:
l=[1,2,3,4]
print(tuple(l))

(1, 2, 3, 4)

9.Unpack the elements of a tuple into variables.

In [35]:
t = (1, 2, 3)

# Unpack tuple elements into variables
a, b, c = t

print("a:", a)  # Output: 1
print("b:", b)  # Output: 2
print("c:", c)  # Output: 3

a: 1
b: 2
c: 3

10. Create a tuple of even numbers from 1 to 10.

In [37]:
t=tuple()
l=list(t)
for i in range(1,11):
    if i%2==0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [38]:
t=tuple()
l=list(t)
for i in range(1,11):
    if i%2!=0:
        l.append(i)
print(tuple(l))

(1, 3, 5, 7, 9)

12. Concatenate two tuples

In [48]:
t1=(1,2,3,4)
t2=(5,6,7,8)
a=t1+t2
a

(1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [2]:
t1=(1,2,3,4)
t2=3*t1
print(t2)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty

In [5]:
tup=(2,3,4,5)
if tup==():
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

15. Create a nested tuple.

In [7]:
tup=(1,2,3,(1,2,(3,2),5,4))
print(tup)

(1, 2, 3, (1, 2, (3, 2), 5, 4))

16. Access the first element of a nested tuple.

In [10]:
tup[0]

1

17. Create a tuple with a single element.

In [13]:
tup=(3)
print(tup)

3

18. Compare two tuples

In [12]:
t1=(1,2,3)
t2=(1,2,3)
if t1==t2:
    print("tuples are same")
else:
    print("tuples are not same")

tuples are same

19. Delete a tuple.

In [40]:
tup=(1,2,3)
del tup

20. Slice a tuple

In [38]:
tup=(1,2,3,4,5)
tup2=tup[2:5]
print(tup2)

(3, 4, 5)

21. Find the maximum value in a tuple.

In [36]:
tup=(43,54,23,67)
m=tup[0]
for i in tup:
    if i>m:
        m=i
print(m)

67

22. Find the minimum value in a tuple.

In [22]:
tup=(43,54,23,67)
m=tup[0]
for i in tup:
    if i<m:
        m=i
print(m)

23

23. Convert a string to a tuple of characters

In [32]:
string="FullStackDataSciencePro"
z=list(string)
a=tuple(z)
print(a)

('F', 'u', 'l', 'l', 'S', 't', 'a', 'c', 'k', 'D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 'P', 'r', 'o')

24. Convert a tuple of characters to a string.

In [34]:
c=('F', 'u', 'l', 'l', 'S', 't', 'a', 'c', 'k', 'D',
   'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 'P', 'r', 'o')
z=("").join(c)
z

'FullStackDataSciencePro'

25. Create a tuple from multiple data types.

In [41]:
tup=(1,2,'data',32.32,'34')
print(tup)

(1, 2, 'data', 32.32, '34')

26. Check if two tuples are identical

In [43]:
t1=(1,2,3,4)
t2=(3,2,5,4)
if t1==t2:
    print("tuples are identical")
else:
    print("tuples are not identical")

tuples are not identical

27. Sort the elements of a tuple.

In [53]:
t1=(3,2,4,1,5)
z=list(t1)
tuple(sorted(z))

(1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [55]:
tup=(1,2,3,4)
z=tuple(str(i) for i in tup)
z

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [57]:
s=('1', '2', '3', '4')
z=tuple(int(i) for i in s)
z

(1, 2, 3, 4)

30. Merge two tuples

In [59]:
t1=(1,2,3,4)
t2=(4,3,2,5)
z=t1+t2
z

(1, 2, 3, 4, 4, 3, 2, 5)

31. Flatten a nested tuple

In [69]:
t1 = (1, 2, 3, (3, 4, 5, (2, 3)))
import numpy as np

def flatten_tuple(t):
    flattened = []
    for i in t:
        if isinstance(i, tuple):
            flattened.extend(flatten_tuple(i))
        else:
            flattened.append(i)
    return flattened

t1 = (1, 2, 3, (3, 4, 5, (2, 3)))
flattened = flatten_tuple(t1)
print(tuple(flattened))

(1, 2, 3, 3, 4, 5, 2, 3)

32. Create a tuple of the first 5 prime numbers.

In [83]:
def prime(n):
    
    for i in range(2,int(n/2)+1):
        if n%i==0:
            return False
        
    return True
s=[]
num=2
while len(s)<5:
    if prime(num)==True:
        s.append(num)
    num=num+1

print(tuple(s))

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [84]:
tup=(1,2,3,2,1)
if list(tup)==list(tup[::-1]):
    print("tup is palindrome")
else:
    print("tup is not palindrome")

tup is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [91]:
tup=tuple([i**2 for i in range(1,6)])
tup

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [92]:
tup=(1, 4, 9, 16, 25)
n=[]
for i in tup:
    if i%2==0:
        n.append(i)
print(tuple(n))

(4, 16)

36. Multiply all elements in a tuple by 2.

In [93]:
tup=(1,2,3,4)
p=tuple([i*2 for i in tup])
p

(2, 4, 6, 8)

37. Create a tuple of random numbers.

In [99]:
z=tuple(np.random.randint(2,20,5))
z

(15, 18, 13, 6, 16)

38. Check if a tuple is sorted.

In [100]:
tup=(15, 18, 13, 6, 16)
if tup==tuple(sorted(list(tup))):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [102]:
tup=(15, 18, 13, 6, 16)
tup=tup[2:]+tup[:2]
print(tup)

(13, 6, 16, 15, 18)

40. Rotate a tuple to the right by `n` positions.

In [105]:
tup=(15, 18, 13, 6, 16)
tup=tup[3:]+tup[:3]
tup

(6, 16, 15, 18, 13)

41. Create a tuple of the first 5 Fibonacci numbers.

In [20]:
def generate_fibonacci_numbers(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)
    return tuple(fibonacci_numbers)

n = 5
fibonacci_tuple = generate_fibonacci_numbers(n)
print("Tuple of the first", n, "Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [112]:
l=[]
for i in range(4):
    n=int(input("enter the element to be added"))
    l.append(n)
tuple(l)

enter the element to be added2
enter the element to be added4
enter the element to be added5
enter the element to be added6

(2, 4, 5, 6)

43. Swap two elements in a tuple.

In [3]:
z=(2, 4, 5, 6)
tup=list(z)
tup[0],tup[1]=tup[1],tup[0]
print(tuple(tup))

(4, 2, 5, 6)

44. Reverse the elements of a tuple.

In [5]:
tup=(2,4,5,6)
tup=tup[::-1]
tup

(6, 5, 4, 2)

45. Create a tuple of the first `n` powers of 2

In [6]:
n=int(input("enter the value of n"))
tuple([2**i for i in range(n)])

enter the value of n4

(1, 2, 4, 8)

46. Find the longest string in a tuple of strings.

In [10]:
tup=('data','manipualtion','is','easy')
l=list(tup)
max_len=0
max_word=""
for word in l:
    word_len=len(word)
    if word_len>max_len:
        max_len=word_len
        max_word=word
print(max_word)

manipualtion

47. Find the shortest string in a tuple of strings.

In [12]:
tup=('data','manipualtion','is','easy')
l=list(tup)
min_len=len(l[0])
min_word=""
for word in l:
    word_len=len(word)
    if word_len<min_len:
        min_len=word_len
        min_word=word
print(min_word)

is

48. Create a tuple of the first `n` triangular numbers.

In [13]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_numbers.append(i * (i + 1) // 2)
    return tuple(triangular_numbers)

n = int(input("Enter the value of n: "))
triangular_tuple = generate_triangular_numbers(n)
print("Tuple of the first", n, "triangular numbers:", triangular_tuple)

Enter the value of n: 5
Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [16]:
tup1=(1,2,3,4,(2,3,4))
tup2=(2,3,4)
if tup2 in tup1:
    print("tup1 contains a subsequence of tup2")
else:
    print("tup1 does not contain any subsequence")

tup1 contains a subsequence of tup2

50. Create a tuple of alternating 1s and 0s of length `n`

In [19]:
n=int(input("enter the length"))
l=[]
for i in range(n):
    if i%2==0:
        l.append(0)
    else:
        l.append(1)
print(tuple(l))

enter the length10
(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)